<div class="container centered">
    <div class="row seven-cols">
        <div class="col-md-1 center">
            <div class="card">
                <div class="card-header">
                    <b>Sunday</b>
                </div>
                <br>
                <div class="card-body">
                <button id="add"><img class="picScale" src="addicon.png"></img></button>
                <div id="insertSunday">workouts added here</div>
                </div>
            </div>
        </div>
        <div class="col-md-1 center">
            <div class="card">
                <div class="card-header">
                    <b>Monday</b>
                </div>
                <br>
                <div class="card-body">
                <button id="add"><img class="picScale" src="addicon.png"></img></button>
                <div id="insertMonday">workouts added here</div>
                </div>
            </div>
        </div>
        <div class="col-md-1 center">
            <div class="card">
                <div class="card-header">
                    <b>Tuesday</b>
                </div>
                <br>
                <div class="card-body">
                <button id="add"><img class="picScale" src="addicon.png"></img></button>
                <div id="insertTuesday">workouts added here</div>
                </div>
            </div>
        </div>
        <div class="col-md-1 center">
            <div class="card">
                <div class="card-header">
                    <b>Wednesday</b>
                </div>
                <br>
                <div class="card-body">
                <button id="add"><img class="picScale" src="addicon.png"></img></button>
                <div id="insertWednesday">workouts added here</div>
                </div>
            </div>
        </div>
        <div class="col-md-1 center">
            <div class="card">
                <div class="card-header">
                    <b>Thursday</b>
                </div>
                <br>
                <div class="card-body">
                <button id="add"><img class="picScale" src="addicon.png"></img></button>
                <div id="insertThursday">workouts added here</div>
                </div>
            </div>
        </div>
        <div class="col-md-1 center">
            <div class="card">
                <div class="card-header">
                    <b>Friday</b>
                </div>
                <br>
                <div class="card-body">
                <button id="add"><img class="picScale" src="addicon.png"></img></button>
                <div id="insertFriday">workouts added here</div>
                </div>
            </div>
        </div>
        <div class="col-md-1 center">
            <div class="card">
                <div class="card-header">
                    <b>Saturday</b>
                </div>
                <br>
                <div class="card-body">
                <button id="add"><img class="picScale" src="addicon.png"></img></button>
                <div id="insertSaturday">workouts added here</div>
            </div>
        </div>
    </div>
</div>
