<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Workouts Main Page</title>

    {{!-- links to CSS and bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/Users/rebeccapae/Documents/Programming/Berkeley Bootcamp/Class_Homework/Project2/get-swol/app/public/assets/css/style.css">
    <script src="../../public/assets/js/main.js"></script>

</head>
<body>
    {{{ body }}}
</body>
</html>