<body>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" href="index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="explore">Workouts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="search">Exercises</a>
        </li>
    </ul>
<br>
<br>

  <!-- User Profile -->
<div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Your Saved Workouts</h5>
              <div class= "saved-workouts">
                   <table class="table table-sm table-hover" id='saved-table'>
                        <thead>
                            <tr>
                                <th scope="col">â¤</th>
                            </tr>
                             <tr>
                                <th scope="col">â¤</th>
                            </tr>
                        </thead>
                        <tbody id="saved-table-body">
                        </tbody>
                    </table>
              </div>
              <p class="card-text"></p>
              <a href="#" class="btn btn-primary" id= "button1">Sunday</a>
              <a href="#" class="btn btn-primary" id= "button2">Monday</a>
              <a href="#" class="btn btn-primary" id= "button3">Tuesday</a>
              <a href="#" class="btn btn-primary" id= "button4">Wednesday</a>
              <a href="#" class="btn btn-primary" id= "button5">Thursday</a>
              <a href="#" class="btn btn-primary" id= "button6">Friday</a>
              <a href="#" class="btn btn-primary" id= "button7">Saturday</a>
            </div>
          </div>
        </div>
      </div>

<br>
  <!-- Weekly Workouts -->
  <div class="card-group">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Sunday</h5>
            <p class="card-text" id= "sunday_data"></p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Monday</h5>
            <p class="card-text" id ="monday_data"></p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tuesday</h5>
            <p class="card-text" id ="tuesday_data"></p>
          </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Wednesay</h5>
                <p class="card-text" id ="wednesday_data"></p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Thursday</h5>
                <p class="card-text" id ="thursday_data"></p>
            </div>      
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Friday</h5>
                <p class="card-text" id ="friday_data"></p>
            </div>    
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Saturday</h5>
                <p class="card-text" id ="saturday_data"></p>
            </div>    
        </div>
    
    </div>

</body>