
{{!-- Jumbotron --}}
<div class="jumbotron jumbotron-fluid">

  <div class="jumbotron-container">
    <h1 class = "jumbotron-text" class="display-4">WORKOUT PLAN</h1>
    <p id = "jumbtotron-subtext" class="lead">Create your own personalized workout plan and stay on track to reach your fitness goals</p>
  </div>
</div>



<div id= "login-row" class="row">
  {{!-- Sign Up! --}}
  
  <div id = "register-box" class = "signup-box" class="col-md-6">
    <form role="form" class = "signup-form" id = "register-form">
      <div class="form-group">
        <div class = "login-card-header" class="card-header">Register!</div>
        <input type="text" id="newfirstname" class="form-control input-lg" placeholder="First Name">
      </div>
      <div class="form-group">
        <input type="text" id="newlastname" class="form-control input-lg" placeholder="Last Name">
      </div>
      <div class="form-group">
        <input type="email" id="newemail" class="form-control input-lg" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="text" id="newusername" class="form-control input-lg" placeholder="username">
      </div>
      <div class="form-group">
        <input type="password" id="newpassword" class="form-control input-lg" placeholder="password">
      </div>

      {{!-- <a href="/login/facebook">Login with Facebook</a> --}}
      
      <button class="btn btn-outline-light btn-block" id = "registerNewUser">Sign Up</button>
    </form>
  </div>
	
  {{!-- Returning User --}}
  <div class = "signup-box" class="col-md-6">
      <form role="form" class = "signup-form">	
        <div class="form-group">
          <div class = "login-card-header" class="card-header">Sign In</div>
          <input type="text" id="username" class="form-control input-lg" placeholder="username">
        </div>
        <div class="form-group">
          <input type="password" id="password" class="form-control input-lg" placeholder="Password">
        </div>
      <button id = "returningUser" class="btn btn-outline-dark btn-block">Login</button>
      <p id = "sign-in-user-message"> {{errorMessage}}</p>
      </form>	
  </div>
</div>