<h2>Practice</h2>

<div class="row">
  {{!-- Sign Up! --}}
  <div class="col-md-5">
    <form role="form" method="post" action="register.php">
      <h3>Sign Up</h3>
      <div class="form-group">
        <input type="text" id="name" class="form-control input-lg" placeholder="Full Name">
      </div>
      <div class="form-group">
        <input type="email" id="email" class="form-control input-lg" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="text" id="username" class="form-control input-lg" placeholder="username">
      </div>
      <div class="form-group">
        <input type="password" id="password" class="form-control input-lg" placeholder="Password">
      </div>
      <a href="#" class="btn btn-primary">Register</a>
    </form>
  </div>
				
  <div class="col-md-2">
    {{!-- Extra Space --}}
  </div>
	
  {{!-- Returning User --}}
  <div class="col-md-5">
      <form role="form">	
     <h3>Returning User</h3> 
        <div class="form-group">
          <input type="email" id="username" class="form-control input-lg" placeholder="username">
        </div>
        <div class="form-group">
          <input type="password" id="password" class="form-control input-lg" placeholder="Password">
        </div>
        <div>
      <a href="#" class="btn btn-primary">Sign In</a>
        </div>
      </form>	
      </div>
    </div>
  </div>
</div>