<div id="backgroundHome">
    
    <div class="navigateBlock">
        <h1 class="blockSummary whiteFont" >Search for specific exercises</h1>
        <a href="linkToSearch"><img class="picLink" src="dumbells.jpg"></img></a>
    </div>
    <div class="navigateBlock">
        <h1 class="blockSummary whiteFont">Browse premade workouts</h1>
        <a href="linkToExplore"><img class="picLink" src="groupYoga.jpg"></img></a>
    </div>
    <div class="navigateBlock">
        <h1 class="blockSummary whiteFont">Return to your past workouts</h1>
        <a href="linkToRecent"><img class="picLink" src="stairsClimb.jpg"></img></a>
    </div>
</div>  

<div id="side">
    <h3>Hi {{name}}!</h3>
</div>