  <ul class="nav justify-content-center">
      <li class="nav-item">
          <a id = "home-page" class="nav-link active">Search</a>
      </li>
      <li class="nav-item">
          <a id = "workouts-page" class="nav-link">Explore</a>
      </li>
      <li class="nav-item">
          <a id = "exercises-page" class="nav-link" href="search">Saved Workouts</a>
      </li>
  </ul>

<div id= "searchCSS">
      <!-- Search Jumbotron -->
  <div class="main-jumbotron" class="search-title" id="search-jumbotron">
    <h1 class="display-4" >Workout Search</h1>
    <p class="lead" id= "search-title2">Explore workouts by muscle group!</p>
    <br>
    <!-- Search Bar -->
  <div class="dropdown" id = "searchMenu">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
    Select Muscle Group
    </button>
    <div class="dropdown-menu" id = "menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item">abdominals</a>
      <a class="dropdown-item">adductors</a>
      <a class="dropdown-item">biceps</a>
      <a class="dropdown-item">calves</a>
      <a class="dropdown-item">chest</a>
      <a class="dropdown-item">forearms</a>
      <a class="dropdown-item">glutes</a>
      <a class="dropdown-item">hamstrings</a>
      <a class="dropdown-item">lats</a>
      <a class="dropdown-item">lower back</a>
      <a class="dropdown-item">middle back</a>
      <a class="dropdown-item">neck</a>
      <a class="dropdown-item">quadriceps</a>
      <a class="dropdown-item">shoulders</a>
      <a class="dropdown-item">traps</a>
      <a class="dropdown-item">triceps</a>
     </div>
  </div>
  </div>

 <br></br>

<ul class="list-group" id = "search-save">
  {{#each exercises}}
  <li class="list-group-item d-flex justify-content-between align-items-center">
   {{name}}
    <button class="btn btn-light" id="favorite-button">❤</button>
  </li>
   {{/each}}
</ul>
</div>