body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(236, 57, 26), rgb(248, 208, 208), rgb(253, 153, 153));
}

/* Login Page Styling */
#login-row {
    height: 65%;
    min-width: 100%;    
    margin-right: 0;
}

.signup-box {
    margin: 25px;
    padding: 35px;
    position: relative;
    width: 35%;
    margin-left: 8%;
    margin-right: 4%;
}

.signup-form {
    border: 3px solid white;
    display: block;
    margin: auto;
    margin-top: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    padding: 15px;
    background-color: white;
}

.login-card-header {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}

#register-form {
    background-color: rgb(99, 94, 94);
    border: none;
    color: white;
}

#register-box {
    padding: 0;
}

.btn-block {
    border: 2px solid rgb(236, 57, 26);

}

#registerNewUser {
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(250, 94, 66);
    border: none;
}

.jumbotron {
    margin: 0;
    height: 35%;
    min-width: 100%;
    background-image: url(./jumbotron-image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.jumbotron-text {
    font-weight: bolder;
    color: white;
    font-size: 45px;
    text-align: center;
}

#jumbtotron-subtext {
    color: white;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem
}

/* Navigate Page Styling */
#nav-background {
    background-image: url("./stairsClimb.jpg");
    width: 30%;
    height: 100%;
    background: no-repeat;
}

.nav-buttons {
    width: 70%;
    float: right;
}

#user-name-header {
    display: block;
    height: 15%;
    text-align: center;
    padding: 8%;
    font-size: 60px;
}

#nav-side-bar{
    background-image: url("./nav-page-background.jpg");
    position: fixed;
    bottom: 0;
    height: 60%;
    width: 100%;
}

.card-deck {
    position: absolute;
    width: 90%;
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
}

.nav-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-card-title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.nav-card-text{
    text-align: center;
    margin-bottom: 30;
}

.card-body{
    min-height: 50px;
}

#sign-in-user-message {
    font-size: 12px;
    color: red;
}

#favorite{
    float: right;
}

#exploreBtn{
    float: right;
    margin-left: -50%;
}

#search-background{
    background-image: url(./jumbotron-image.jpg);
    margin-top: 3%;
    height: 100%;
}

#search-save {
    margin: 5px;
    margin-left: 25px;
    margin-right: 25px;
    width: 80%;
}

.list-group-item{
    margin: 3px;
}

.each-exercise{
    margin: auto;
    margin-left: 0;
    font-size: 20px;
}
#search-jumbotron{
    margin-top: 3%;
    text-align: center;
}
#search-menu-button{
    margin-left: 28px;
    margin-bottom: 3%;
    width: 40%;
    font-size: 25px;
    float: left;
}

