{{!-- Select Month --}}

<h2>Hi, {{name}}</h2>

<div class="form-group" id = "select-month">
    <label for="exampleFormControlSelect1">Select Month</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>January</option>
      <option>Feb</option>
      <option>March</option>
      <option>April</option>
      <option>May</option>
      <option>June</option>
      <option>July</option>
      <option>August</option>
      <option>Sept</option>
      <option>Oct</option>
      <option>Nov</option>
      <option>Dec</option>
    </select>
  </div>

  {{!-- Enter Week # --}}
<div class="form-group">
    <label for="exampleFormControlSelect1">Week Number</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
    </select>
  </div>


<div class="row">
      {{!-- Days of the Week --}}
    <div class="col-md-5" id = "daysofweek">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Monday</h5>
        </div>
        </div>
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Tuesday</h5>
        </div>
        </div>
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Wednesday</h5>
        </div>
        </div>
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Thursday</h5>
        </div>
        </div>
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Friday</h5>
        </div>
        </div>
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Saturday</h5>
        </div>
        </div>
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Sunday</h5>
        </div>
        </div>
        </div>
        
    {{!-- Favorites Column --}}
        <div class="col-md-5" id = "favorites-col">
        <div class="card" >
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        </div>
    </div>
</div>

